/* === Reset === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* === Universal Styles === */

body {
    background-color: black;
}

main {
    /* Box Model */
    margin-inline: auto;
    margin-top: 69px;
    width: 1200px;
}

main.flex-col {
    gap: 5rem;
}

/* Layout */

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Background */

.overlay {
    background-color: black;
}


/* === Typography === */

body {
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: seashell;
}


/* === Header === */

header {
    /* Position & layout */
    position: fixed;
    z-index: 10;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Visibility */
    opacity: 0.9;

    /* Box model */
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px;
    padding: 0 10px;

    /* Background */
    background-color: black;
}

header .logo {
    height: 50px;
}

header nav ul {
    /* Position & Layout */
    display: flex;
    gap: 2rem;

    /* Visuals */
    list-style: none;
}

header nav ul li a {
    /* Typography */
    color: seashell;
    text-decoration: underline;
}


/* === Mission Section === */

#mission {
    /* Box model */
    height: 700px;
    width: 1200px;

    /* Background */
    background-image: url("../images/img-mission-background.jpg");
}

#mission .overlay {
    /* Box Model */
    width: 100%;
    padding: 1rem;
}


/* === Featured Tea Section === */

#featured-tea {
    width: 1000px;
}


/* === Locations Section === */

#locations {
    /* Box Model */
    width: 100%;
    height: 500px;

    /* Background */
    background-image: url("../images/img-locations-background.jpg");
}


/* === Card Container === */

.card-container {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    /* Box Model */
    margin-top: 15px;
}

.card {
    width: 300px;
}

.card img {
    height: 200px;
    width: 100%;
}

.card img+h3 {
    margin-top: 10px;
}